*
{ /* Agregamos valores por default a todo el index para evitar problemas */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

#titulo
{
  color: #0e4acf;
  text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #0057d2;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  font-size: 100px;
}

/* Inicio Slider */

#c-slider
{
  margin: auto;
  width: 100%;
  max-width: 100%;
  position: relative; /* Para que los botones se posicionen en base al slider */
  overflow: hidden; /* Para que solo se vea una imagen por contenido */
  box-shadow: 0 0 0 2px;
}

#slider
{
  display: flex;
  width: 400%; /* Porque son cuatro imagenes en linea */
}

#slider section
{
  width: 100%;
}

#slider img
{
  display: block;
  width: 100%;
  height: 100%;
}

#btn-prev, #btn-next
{ /* Botones que pertenecen al slider */
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%; /* Para que se muestre siempre en el medio del slider*/
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

#btn-prev:hover, #btn-next:hover
{ /* Hover indica cuando pasa el mouse por encima de los botones */
  background: rgba(255, 255, 255, 0.9);
}

#btn-prev
{
  left: 10px;
}

#btn-next
{
  right: 10px;
}

/* Fin slider */

/* Inicio Contador */
#fecha
{
  font-size: 30px;
  margin: auto;
  text-align: center;
  width: 35%;
  box-shadow: 0 0 0 2px;
  padding-top: 5px;
  margin-top: 20px;
}

/* Fin Contador */

/* Imagen + parrafo */
#ip
{
  max-width: 90%;
  margin: auto;
  margin-top: 70px;
}
/* Fin imagen + parrafo  */

/* Inicio Footer */
#sectionFooter
{
  width: 100%;
  max-width: 100%;
  padding-top: 30px;
  margin: auto;
  text-align: center;
  padding-bottom: 2px;

}

#footer
{
  width: 100%;
  max-width: 100%;
  padding-top: 5px;
  background-color: gray;
  margin: auto;
  text-align: center;
}

#footer p
{
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Fin Footer */

/* Inicio media queries: al especificar max width, estamos diciendo que si como maximo hay 'Npx' de ancho, apliquemos lo siguiente. */
@media (max-width:590px)
 {
      #c-slider
      {
        box-shadow: none;
      }

      #slider
      {
        display: none;
      }

      #titulo
      {
        font-size: 50px;
        margin: auto;
        text-align: center;
      }

      #logo
      {
        max-width: 100%;
        margin: auto;
        text-align: center;
      }
 }
